<div class="login jumbotron center-block">
  <h1>Signup</h1>
  <form role="form" (submit)="signup($event)">
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}"
             class="form-control" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"
             class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Join</button>
  </form>
</div>
