<md-card class="login">
  <md-card-title>Login</md-card-title>
  <form role="form" [formGroup]="loginForm">
    <md-card-content>
      <md-input id="userName" type="text" formControlName="userName" placeholder="Username"
                autocomplete="off"></md-input>
      <md-input id="password" type="password" formControlName="password" placeholder="Password"
                autocomplete="off"></md-input>
    </md-card-content>
    <div class="row">
      <div class="col-xs-6">
        <a [routerLink]="['/signup']">Click here to Signup</a>
      </div>
      <div class="col-xs-6">
        <wf-async-button [type]="'submit'" [color]="'primary'" [title]="'Login'" [isDisabled]="loginForm.invalid"
                         (buttonClick)="login($event)"></wf-async-button>
      </div>
    </div>
  </form>
</md-card>
