.login, .signup {
  max-width: 450px;
  margin: auto;
}

md-input, md-select {
  width: 100%;
  margin-bottom: 5px;
}

[md-raised-button] {
  text-transform: uppercase;
}

.form-error {
  color: md-color($md-red, 400);
}

a {
  color: md-color($md-blue, 700) !important;

  &:hover {
    text-decoration: none !important;
  }
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
