/* You can add global styles to this file, and also import other style files */
@import './theme/app-theme.scss';
@import './common.scss';

body {
  font-family: Roboto, sans-serif;
  background-color: md-color($md-teal, 50) !important;
}

.app-content-wrapper {
  padding: 0 10px;
}

