/* You can add global styles to this file, and also import other style files */
@import './theme/app-theme.scss';
@import './common.scss';

html {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif !important;
  height: 100%;
}

.app-content-wrapper {
  padding: 10px;
}

