/* You can add global styles to this file, and also import other style files */
@import './theme/app-theme.scss';

body {
  margin: 10px;
  font-family: Roboto, sans-serif;
}

[md-raised-button] {
  text-transform: uppercase;
}

