.async-button-wrapper {
  position: relative;
  height: 36px;
  display: inline-block;

  .async-button {
    position: relative;
    min-width: 100px;
  }

  .async-spinner {
    position: absolute;
    height: 75%;
    top: 10%;
  }
}
