.async-button-wrapper {
  position: relative;
  height: 36px;
  text-align: right;
  left: -100px;

  .async-button {
    position: absolute;
    min-width: 100px;
  }

  .async-spinner {
    position: absolute;
    height: 100%;
    right: -100px;
  }
}
