<md-card class="signup">
  <md-card-title>Signup</md-card-title>
  <form role="form" [formGroup]="signupForm" name="signupForm">
    <md-card-content>
      <md-input id="username" type="text" formControlName="userName" placeholder="Username"
                autocomplete="off"></md-input>
      <i class="form-error" *ngIf="isUserNameInvalid">{{validationErrors.userNameMaxLength.message}}</i>
      <md-input id="password" type="password" formControlName="password"
                placeholder="Password" autocomplete="off"></md-input>
      <md-input id="confirm-password" type="password" formControlName="confirmPassword"
                placeholder="Confirm Password" autocomplete="off"></md-input>
      <i class="form-error" *ngIf="isPasswordInvalid">{{validationErrors.passwordMismatch.message}}</i>
    </md-card-content>
    <div class="row">
      <div class="col-xs-6">
        <a [routerLink]="['/login']">Back to Login</a>
      </div>
      <div class="col-xs-6">
        <wf-async-button [type]="'submit'" [color]="'primary'" [title]="'Join'" [isDisabled]="signupForm.invalid"
                         (buttonClick)="join($event)"></wf-async-button>
      </div>
    </div>
  </form>
</md-card>
