<md-card *ngIf="currentWeatherForecast" class="basic-card">
  <md-card-title>
    {{currentWeatherForecast.getName()}}, {{currentWeatherForecast.getWeatherSys().getCountry()}}
  </md-card-title>
  <md-card-content>
    <dl class="dl-horizontal">
      <dt>Last update:</dt>
      <dd>{{currentWeatherForecast.getTime() * 1000 | date: 'dd/MM/y h:mm a Z'}}</dd>
      <dt></dt>
      <dd>{{currentWeatherForecast.getWeather()[0].getMain()}} ({{currentWeatherForecast.getWeather()[0].getDescription()}})</dd>
      <dt>Clouds:</dt>
      <dd>{{currentWeatherForecast.getClouds().getCloudiness()}} %</dd>
      <dt>Visibility:</dt>
      <dd>{{currentWeatherForecast.getVisibility()}} meters</dd>
      <dt>Temperature:</dt>
      <dd>{{currentWeatherForecast.getMain().getTemp()}} &deg;F</dd>
      <dt>Pressure:</dt>
      <dd>{{currentWeatherForecast.getMain().getPressure()}} hPa</dd>
      <dt>Humidity:</dt>
      <dd>{{currentWeatherForecast.getMain().getHumidity()}} %</dd>
      <dt>Wind:</dt>
      <dd>{{currentWeatherForecast.getWind().getSpeed()}} miles/hour ({{currentWeatherForecast.getWind().getDegree()}} degrees (meteorological))</dd>
      <dt>Sunrise:</dt>
      <dd>{{currentWeatherForecast.getWeatherSys().getSunRise() * 1000 | date: 'h:mm a Z'}}</dd>
      <dt>Sunset:</dt>
      <dd>{{currentWeatherForecast.getWeatherSys().getSunSet() * 1000 | date: 'h:mm a Z'}}</dd>
    </dl>
  </md-card-content>
  <md-card-actions>
    <a md-button [routerLink]="['/home']">Choose other city</a>
  </md-card-actions>
</md-card>
