<md-card *ngIf="weather" class="basic-card">
  <md-card-title>
    {{weather.getName()}}, {{weather.getWeatherSys().getCountry()}}
  </md-card-title>
  <md-card-content>
    <dl class="dl-horizontal">
      <dt>Last update:</dt>
      <dd>{{weather.getTime() * 1000 | date: 'dd/MM/y h:mm a Z'}}</dd>
      <dt></dt>
      <dd>{{weather.getWeatherByIndex(0).getMain()}} ({{weather.getWeatherByIndex(0).getDescription()}})</dd>
      <dt>Clouds:</dt>
      <dd>{{weather.getClouds().getCloudiness()}} %</dd>
      <dt>Visibility:</dt>
      <dd>{{weather.getVisibility()}} meters</dd>
      <dt>Temperature:</dt>
      <dd>{{weather.getMain().getTemp()}} &deg;F</dd>
      <dt>Pressure:</dt>
      <dd>{{weather.getMain().getPressure()}} hPa</dd>
      <dt>Humidity:</dt>
      <dd>{{weather.getMain().getHumidity()}} %</dd>
      <dt>Wind:</dt>
      <dd>{{weather.getWind().getSpeed()}} miles/hour ({{weather.getWind().getDegree()}} degrees (meteorological))</dd>
      <dt>Sunrise:</dt>
      <dd>{{weather.getWeatherSys().getSunRise() * 1000 | date: 'h:mm a Z'}}</dd>
      <dt>Sunset:</dt>
      <dd>{{weather.getWeatherSys().getSunSet() * 1000 | date: 'h:mm a Z'}}</dd>
    </dl>
  </md-card-content>
  <md-card-actions>
    <a md-button [routerLink]="['/home']">Choose other city</a>
  </md-card-actions>
</md-card>

<md-card *ngIf="forecast" class="basic-card">
  <md-card-title>
    5 day / 3 hour forecast
  </md-card-title>
  <md-card-content>
    <md-tab-group>
      <md-tab *ngFor="let item of forecast.getForecast() | mapToIterable" [label]="item.key">
        <md-list>
          <md-list-item *ngFor="let forecast of item.val">
            <dl class="dl-horizontal">
              <dt>{{forecast.getUTCDate().getStringUTCHours() + ':' + forecast.getUTCDate().getStringUTCMinutes()}}</dt>
              <dd>
                <dl class="dl-horizontal">
                  <dt>
                    Clouds:
                  </dt>
                  <dd>
                    {{forecast.getClouds().getCloudiness()}} %
                  </dd>
                </dl>
              </dd>
            </dl>
          </md-list-item>
        </md-list>
      </md-tab>
    </md-tab-group>
  </md-card-content>
</md-card>
