<main>
  <form role="form" name="cityForm" [formGroup]="cityForm">
    <md-card class="choose-city">
      <div class="row">
        <div class="col-sm-4">
          <md-select placeholder="Country" formControlName="country">
            <md-option *ngFor="let country of countries" [value]="country">
              {{country}}
            </md-option>
          </md-select>
        </div>
        <div class="col-sm-4">
          <md-input placeholder="City" formControlName="city" *ngIf="isCountrySelected"></md-input>
        </div>
        <div class="col-sm-4 text-right">
          <wf-async-button [type]="'submit'" [color]="'primary'" [title]="'Get Weather Forecast'" [isDisabled]="cityForm.invalid"
                           (buttonClick)="getWeatherForecast($event)"></wf-async-button>
        </div>
      </div>

      <md-list class="row">
        <md-radio-group formControlName="cityId">
          <md-list-item class="col-sm-4" *ngFor="let city of cities | async">
            <md-radio-button [value]="city.getId()">{{city.getName()}}</md-radio-button>
          </md-list-item>
        </md-radio-group>
      </md-list>
    </md-card>

  </form>
</main>
